:root{
    --primary:#f1f5f9;
    --heading-color: #5b21b6;
    --secondary:#e2e8f0;
}

.main-class{
    position: relative;
    max-width: 22rem;
    min-height: 23rem;
    background-color: var(--primary);
    box-sizing: border-box;
    margin-left: 0.5rem;
    border-radius: 10px;
    margin: auto;
   
}

.main-img{
    position: relative;
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    background-size: cover;
}

.main-heading{
    margin-left: 0.5rem;
    display: relative;
    font-weight: 500;
}

.main-sub-heading{
    margin-left: 0.5rem;
    margin-top: -0.8rem;
}
.main-text{
    font-size: 1rem;
    align-items: center;
    margin: 0.5rem;
margin-top:auto;
margin-bottom: 1rem;
}


button {     
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        color:var(--heading-color);   
             
}
button:hover{
    background-color:var(--secondary);
}


/* text over media css */

.card-initial{
    display: flex;
    position: relative;
    height: auto;
    width: auto;
    border: 1px;
}

#card-img{
    display: flex;
    position: relative;
    width:100%;
    height: auto;
    margin-bottom: 1rem;
}

.card-container{
   position: relative;
}

.card-heading{
    position:absolute;
    top: 9rem;
    color: white;
    margin-left: 0.5rem;
    font-weight: 200;
}
.card-sub-heading{
    position:absolute;
    top: 11rem;
    color: white;
    margin-left: 0.5rem;
    font-weight: 100;
}

.main-class.height{
    background-color:yellow;
    height: 10rem;
}

/* basic w/header */

.sub-main{
    justify-content:flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    margin: top bottom0 2px;
    margin-top: 2rem;
}