.basic-chips{
    display: inline-flex;
    border-radius: 30%;
    border: 2px;
    background-color:rgb(226, 226, 221);
    flex-direction: column;
    border: none;
    font-size: 16px;
    color:rgb(17, 17, 17);
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.5rem;
    margin: 1rem;
    width: fit-content;
    height: fit-content;
}
