.basic-chips{
    align-items: center;
    border-radius: 30%;
    border: 2px;
    background-color:rgb(226, 226, 221);
    border: none;
    display: inline-flex;
    flex-direction: row;
    font-size: 1.2rem;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: fit-content;
}
